<!DOCTYPE html>
<html lang="en">
  <!--Header-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, install-scale=1.0" />
    <title>STIX program</title>
    <style type="text/css">
      body{
        margin: 0;
        padding: 0;
        background-color: #f3ecec;
      }
      .CIRCLE
      {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-200%, -80%);
        width: 300px;
        height: 300px;
        border: 10px solid red;
        border-radius: 50%;
        background-color: white;
      }
   </style>
  </head>

  <!--Ask for JSON input file.-->
  <body>
    <h1>STIX automated threat modeling tool</h1>
    <form method='POST', enctype='multipart/form-data'>
      {{form.hidden_tag()}}
      {{form.file()}}
      {{form.submit()}}
    </form>

  </body>

</html>
